<?xml version="1.0" encoding="UTF-8"?>
<!-- START SNIPPET: beans -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
        <property name="dataSource" ref="dataSource" />  
       	<property name="configLocation" value="classpath:/cn/com/workflow/mybatis/SqlMapConfig.xml" />
        <property  name="mapperLocations"  value="classpath:/cn/com/workflow/mybatis/mapper/*Mapper.xml"/>
        <!-- <property name="plugins">  
        		<bean class="com.git.baidu.mybatis.common.page.MybatisSpringPageInterceptor">  
        		</bean>  
   		 	</property> 
     	-->
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">  
       	<property name="basePackage" value="cn.com.workflow.mybatis.mapper" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>  
    </bean>
    <bean id="myBatisSession"     class="org.mybatis.spring.SqlSessionTemplate">         
 		<constructor-arg index="0" ref="sqlSessionFactory" />   
 	</bean> 
 	<!-- <bean id="wfmidProcessInstanceMapperImpl" class="com.git.baidu.mybatis.client.impl.WfmidProcessInstanceMapperImpl">    
	 	<property name="sqlSessionTemplate" ref="myBatisSession" />
	</bean>
	 -->
	 	     
</beans>