	/* Wrapper */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;*/
	font-size: 13px;
	line-height: 1.428571429;
	color: #3a4049;
  	background-color: #fff;
}

#page-wrapper, 
body, 
html {
	height: 100%;
}

#page-wrapper {
	position: relative;
}

#page-content {
	background: #fff;
}

#page-main-wrapper {
	margin-left: 240px;
}

	/* Header */

#page-header {
	background: #37485d;
	padding: 0;
}

#header-logo {
	width: 230px;
	padding-left: 10px;
	background: #2b394a;
	text-transform: uppercase;
	font-weight: normal;
	height: 52px;
	line-height: 52px;
	color: #fff;
}

#header-logo a {
	float: right !important;
	min-width: 43px;
	text-align: center;
}

#page-header a,
#header-logo a {
	color: rgba(255,255,255,0.5);
}

#page-header .button-group > a:hover,
#page-header .top-icon-bar > a:hover, 
#page-header .top-icon-bar a.user-ico:hover {
	color: #fff !important;
}

	/* Header Drop down menu */

#page-header .button-group {
	margin: 9px 0 0 9px;
	display: block;
	float: left;
}

#page-header .button-group > a {
	background: #5c6f87;
	height: 32px;
	line-height: 32px;
	display: inline-block;
	float: left;
	padding: 0 10px;
	box-shadow: 0 0 0 transparent;
	-webkit-box-shadow: 0 0 0 transparent;
	-moz-box-shadow: 0 0 0 transparent;
}

#page-header .button-group > a + a {
	width: 32px;
	height: 32px;
	padding: 0;
	float: left;
	margin: 0;
}

#page-header .button-group > a + a .icon-separator {
	width: 32px;
	background: rgba(255,255,255,0.1);
	border: 0;
	border-radius: 0;
	box-shadow: 0 0 0 transparent;
}

#page-header .dropdown-menu a {
	color: #000;
}

	/* Header icon bar */

#page-header .top-icon-bar {
	border-right: rgba(255,255,255,0.1) solid 1px;
	float: right;
}

#page-header .top-icon-bar .dropdown {
	float: left;
	display: block;
}



#page-header .top-icon-bar > a {
	display: block;
	height: 52px;
	line-height: 52px;
	text-align: center;
	float: left;
	position: relative;
	font-size: 24px;
	width: 60px;
	border-left: rgba(255,255,255,0.1) solid 1px;
}

#page-header .top-icon-bar > a .glyph-icon {
	display: block;
}

#page-header .top-icon-bar > a:hover {
	background: rgba(255,255,255,0.05);
}

#page-header .top-icon-bar > a .badge-absolute {
	top: 6px;
	right: 6px;
	left: auto;
	border: 0;
	height: 16px;
	line-height: 16px;
	padding: 0 3px !important;
	border-radius: 2px;
}

#page-header .top-icon-bar a.user-ico {
	line-height: 36px;
	font-size: 14px;
	width: auto;
}

#page-header .top-icon-bar a.user-ico img {
	margin: 8px 0 0 8px;
	float: left;
}

#page-header .top-icon-bar a.user-ico span {
	display: block;
	float: left;
	height: 44px;
	line-height: 36px;
	margin: 8px 8px 0;
}

#page-header .top-icon-bar .dropdown-menu.float-right {
	right: 16px;
}

#page-header .top-icon-bar.dropdown .dropdown-menu.float-right {
	right: 0;
}

#page-header .top-icon-bar a.user-ico i {
	margin: 8px 8px 0 0;
	font-size: 10px;
	display: block;
	float: left;
	height: 36px;
	line-height: 36px;
}

	/* Sidebar */

#page-sidebar {
	width: 239px;
	float: left;
	position: relative;
	z-index: 90;
	background: #e4e9f0;
	border: #c1cad5 solid 1px;
	border-width: 0 1px 0 0;
}

	/* Sidebar search */

#page-sidebar #sidebar-search {
	background: #c1cad5;
	position: relative;
	padding: 0 8px;
}

#page-sidebar #sidebar-search input {
	border-radius: 50px;
	border: 0;
	height: 24px;
	padding: 0 10px 0 25px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #8e8e8e;
}

#page-sidebar #sidebar-search input:focus {
	color: #57697E;
}

#page-sidebar #sidebar-search .icon-search {
	position: absolute;
	left: 15px;
	top: 0;
}

	/* Sidebar menu */

#sidebar-menu {
	background: #e4e9f0;
	padding: 10px;
	overflow: hidden;
}

#sidebar-menu li {
	margin: 0 0 5px;
}

#sidebar-menu li.divider {
	margin: 5px 0;
}

#sidebar-menu li a {
	color: #57697e;
	display: block;
	height: 42px;
	line-height: 42px;
	padding: 0 15px 0 45px;
	font-weight: bold;
	position: relative;
}

#sidebar-menu li a .badge {
	float: right;
	margin: 11px 0 0;
}

#sidebar-menu li a i {
	margin-right: 15px;
	font-size: 20px;
	opacity: 0.5;
	position: absolute;
	left: 12px;
	top: 50%;
	height: 30px;
	line-height: 30px;
	margin-top: -16px;
}

#sidebar-menu li a:hover {
	background: rgba(255,255,255,0.5);
	color: #303b49;
}

#sidebar-menu li.active > a, 
#sidebar-menu li.current-page > a {
	background: #fff;
	color: #303b49;
}

#sidebar-menu li.active > a {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#sidebar-menu li a.active i {
	opacity: 1;
}

	/* Sidebar submenu */

#sidebar-menu li ul {
	display: none;
	margin: 0;
	background: rgba(255,255,255,0.5);
}

#sidebar-menu li ul li {
	border-color: #e4e9f0;
}

#sidebar-menu li ul li {
	margin: 0;
}

#sidebar-menu li ul li a {
	height: 32px;
	line-height: 32px;
	padding: 0 10px 0 35px;
	font-weight: normal;
	font-size: 12px;
	border-radius: 0;
}

#sidebar-menu li ul li a:hover, 
#sidebar-menu li ul li.current-page a {
	background: rgba(255,255,255,0.7);
	color: #000;
}

#sidebar-menu li ul li a i {
	font-size: 10px;
	height: 32px;
	line-height: 32px;
	margin-top: -16px;
	left: 15px;
}

#sidebar-menu li.active ul {
	display: block;
}

	/* Breadcrumb */

#page-breadcrumb-wrapper,
#sidebar-search {
	background: #fafafa;
	height: 44px;
	line-height: 43px;
	padding: 0 10px;
}

#sidebar-search {
	border-bottom: #a8b3c0 solid 1px;
	border-right: #a8b3c0 solid 1px;
	margin-right: -1px;
	padding: 0 20px;
}

#page-breadcrumb-wrapper {
	border-bottom: #ddd solid 1px;
	text-transform: uppercase;
	font-size: 11px;
}

#page-breadcrumb {
	float: left;
}

#page-breadcrumb a {
	color: #666;
	margin-right: 5px;
}

#page-breadcrumb a .glyph-icon {
	margin-right: 3px;
	color: #999;
}

#page-breadcrumb a:after {
	content: "\f054";
	font-family: FontAwesome;
	font-size: 10px;
	color: #ccc;
	margin-left: 5px;
}

#page-breadcrumb a:hover {
	color: #333;
}

#page-breadcrumb .current {
	color: #b2b2b2;
}

	/* Main content */

#page-main {
	width: 100%;
	float: left;
	margin-left: -240px;
	position: relative;
	z-index: 4;
	min-height: 100%;
}

	/* Footer */

#page-footer-wrapper {
	width: 100%;
	left: 0;
	bottom: 0;
}

#page-footer-wrapper #page-footer {
	background: #fafafa;
	border-top: #ddd solid 1px;
	text-align: center;
	padding: 10px 0;
	height: 30px;
	line-height: 30px;
}

	/* Spacing consistency */

#page-content,
.ui-tabs-panel, 
.ui-accordion-content {
	padding: 20px;
}

p {
	padding-bottom: 20px;
}

.bottom-margin,
.heading-title,
.ui-tabs, 
.ui-accordion,
.ui-slider,
.dataTables_wrapper, 
.content-box-alt, 
.content-box, 
.table, 
.infobox, 
.heading-1, 
.example-box, 
.info-box {
	margin-bottom: 20px;
}

.divider {
	margin: 20px 0;
}


.heading-1 .divider {
	margin: 20px -20px 0;
}

	/* Layout hacks */

.fixed-header #page-breadcrumb-wrapper {
	margin-top: 52px;
}

.fixed-header #page-header {
	position: fixed;
	width: 100%;
	-webkit-transform: translate3d(0, 0, 0);
	top: 0;
	left: 0;
	z-index: 1050;
}

.fixed-header #page-header #page-header-wrapper {
	padding-left: 240px;
}

.fixed-sidebar #page-sidebar {
	position: fixed;
	top: 0;
}

.fixed-sidebar #page-main {
	margin-left: 0;
}

.fixed-footer #page-footer-wrapper {
	position: fixed;
	-webkit-transform: translate3d(0, 0, 0);
	z-index: 90;
}

.fixed-footer  #page-footer-wrapper #page-footer {
	margin-left: 240px;
}

.close-sidebar #page-sidebar {
	margin-left: -240px;
}

.close-sidebar #header-logo {
	right: -43px;
	position: absolute;
}

.close-sidebar #page-header-wrapper {
	margin-left: 43px;
}

.close-sidebar #page-main-wrapper,
.close-sidebar #page-main, 
.close-sidebar #page-footer-wrapper #page-footer {
	margin-left: 0;
}

.fixed-header.close-sidebar #page-header #page-header-wrapper {
	padding-left: 0;
}

.close-sidebar.fixed-header #page-sidebar {
	position: fixed;
	top: 0;
}

.fixed-header.fixed-footer #page-sidebar {
	padding-bottom: 50px;
}

.fixed-footer #page-content {
    margin-bottom: 50px;
}