html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: "微软雅黑";
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

ol,ul {
	list-style: none;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}
a {
	text-decoration: none;
}
input::-ms-clear {
	display: none;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.clearfix{zoom:1;}
.fl{float:left;}
.fr{float:right;}
.ml15{margin-left:15px;}
.mr5{margin-right:15px;}
.mt5{margin-top:15px;}
.mb5{margin-bottom:15px;}