.loading-indicator {
    font-size:8pt; 
    background-image:url(images/loading.gif);
    background-repeat: no-repeat;  
    background-position:top left; 
    padding-left:20px;
	height:18px;
	text-align:left;
}
 
#loading{
	position:absolute;
	left:45%;
	top:40%;
	border:3px solid #B2D0F7;
	background:white url(images/block-bg.gif) repeat-x;
	padding:10px;
	font:bold 14px verdana,tahoma,helvetica; 
	color:#003366;
	width:180px;
	text-align:center;
}